<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-method Suite" parallel="tests">
  <test name="Test-method test" parallel="methods" thread-count="1">
    <classes>
      <class name="com.iaditya.testng.parallelsample.FactoryClassOne" />
    </classes>
  </test>
  <test name="Test-method two" parallel="methods" thread-count="3">
    <classes>
      <class name="com.iaditya.testng.parallelsample.FactoryClassTwo" />
    </classes>
  </test>
</suite>