<suite name="Test-class Suite" parallel="classes" thread-count="2" >
  <test name="Test-class test" >
    <classes>
      <class name="com.iaditya.testng.parallelsample.ParallelClassesTestOne" />
      <class name="com.iaditya.testng.parallelsample.ParallelClassesTestTwo" />
    </classes>
  </test>
</suite>